@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* Universal Styling */

:root {
    --main-colour: rgba(251, 248, 241);
    --secondary-colour: rgba(66, 95, 87);
    --tertiary-colour: rgba(206, 229, 208, 0.3);
}

.row {
    border: solid 3px red;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm {
    border: solid 3px blue;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Zen Loop', cursive;
    color: black;
    background-color: var(--main-colour);
}

a {
    text-decoration: none;
    color: var(--main-colour);
}

button {
    background: none;
    color: var(--main-colour);
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

.display-none {
    display: none;
}

.display {
    display: block;
}

/* Navigation Bar Styling */

/* Logo */
.navigation-bar {
    max-height: fit-content;
    width: 100vw;
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    letter-spacing: 0.1rem;
}

.navigation-bar .logo > span:nth-of-type(odd) {
    font-size: 4.5rem;
}

.navigation-bar .logo > span:nth-of-type(even) {
    font-size: 2.7rem;
    margin-left: -0.3rem;
}

.navigation-bar .logo > div {
    max-height: fit-content;
    max-width: 225px;
    text-align: right;
    margin-top: -1.5rem;
    font-size: 2rem;
}

/* Hamburger */
.hamburger-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hamburger-container .fa-bars,
.fa-x {
    margin-right: 0.5rem;
    font-size: 2rem;
}

.hamburger-container i:hover {
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--tertiary-colour);
    font-size: 2.5rem;
    transition: all ease-in 1s;
}

/* Navigation Links */
.navigation-links {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.navigation-links .fa-chevron-down {
    font-size: 0.55rem;
}

.navigation-links ul {
    margin-bottom: auto;
}

.navigation-links li {
    font-size: 1rem;
}

.navigation-links a {
    padding: 0.5;
}

.navigation-links a:hover,
i:hover {
    background-color: var(--tertiary-colour);
    border-radius: 10px;
    padding: 0.3rem;
    transition: all ease-in 1s;
}

@media (min-width: 756px) {
    .navigation-links {
        font-size: 1.8rem;
    }

    .navigation-links .fa-chevron-down {
        font-size: 0.8rem;
    }

    .navigation-links li {
        font-size: 1.3rem;
    }
}
